<div class="p-2 mt-4 mr-md-2 mb-2 d-none d-md-block">
            <div class=" font-weight-bold text-black-50">
              <span class="badge purple  pl-2 pr-3 p-2"><span class="mr-2"><i class="fa fa-star"></i></span> Top-5</span>
            </div>
          </div> 
          <div class="p-0 mr-md-2 fs-13  d-none d-md-block lh-x">
            <div class="position-relative tp-lst">
              <div class="cl-n2 w-100 cur-def pl-3" title="Stanlay enow-Hé pére">
                  <div class="position-absolute" style="top:5px;left: 10px">1.</div>
                  Stanlay enow<div class="font-weight-bold text-truncate">Hé pére</div>
              </div>
                <div class="position-absolute h-100 tp-act d-none " style="right: 0px; bottom: 0px">
                  <span class="btn-play-tp-5 cur-pointer  bnt-plyay-mus trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Play">
                    <i class="fas fa-play fs-12"></i>
                  </span><span class="btn-addlst-tp-5 cur-pointer ret-plst trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Rétirer de la playListe">
                      <i class="fas fa-trash fs-12"></i>
                    </span>
                </div>
            </div>
            <div class=" position-relative tp-lst tp-lst-elm ">
              <div class="cl-n2 w-100 cur-def pl-3" title="Blanche bailly-Je ne suis pas ton bonbon bonbon">
                  <div class="position-absolute" style="top:5px;left: 10px">2.</div>
                   Blanche bailly <div class="font-weight-bold text-truncate">Je ne suis pas ton bonbon bonbon</div>
              </div>
                <div class="position-absolute h-100 tp-act d-none " style="right: 0px; bottom: 0px">
                  <span class="btn-play-tp-5 cur-pointer bnt-plyay-mus trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Play">
                    <i class="fas fa-play fs-12"></i>
                  </span><span class="btn-addlst-tp-5 cur-pointer btn-plst2 trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Ajouter à la playListe">
                      <i class="fas fa-plus fs-12"></i>
                    </span>
                </div>
                <div class="position-absolute p-2 z-depth-1 white p-lst d-none cont-plst animated"  alb-sng="Le single" style="right:0px">
                  
                </div>
            </div>
            <div class="position-relative tp-lst">
                <div class="cl-n2 w-100 cur-def pl-3" title="Charlote dipanda-Ndollo">
                    <div class="position-absolute" style="top:5px;left: 10px">3.</div>
                    Charlote dipanda<div class="font-weight-bold text-truncate">Ndollo</div>
                </div>
                  <div class="position-absolute h-100 tp-act d-none " style="right: 0px; bottom: 0px">
                    <span class="btn-play-tp-5 cur-pointer  bnt-plyay-mus trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Play">
                      <i class="fas fa-play fs-12"></i>
                    </span><span class="btn-addlst-tp-5 ret-plst cur-pointer trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Rétirer la playListe">
                        <i class="fas fa-trash fs-12"></i>
                      </span>
                  </div>
            </div>
            <div class=" position-relative tp-lst tp-lst-elm ">
              <div class="cl-n2 w-100 cur-def pl-3" title="X-maleya -Sommet">
                  <div class="position-absolute" style="top:5px;left: 10px">4.</div>
                  X-maleya <div class="font-weight-bold text-truncate">Sommet</div>
              </div>
              <div class="position-absolute h-100 tp-act d-none " style="right: 0px; bottom: 0px">
                <span class="btn-play-tp-5 cur-pointer bnt-plyay-mus trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Play">
                  <i class="fas fa-play fs-12"></i>
                </span><span class="btn-addlst-tp-5 cur-pointer btn-plst2 trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Ajouter à la playListe">
                    <i class="fas fa-plus fs-12"></i>
                  </span>
              </div>
              <div class="position-absolute p-2 z-depth-1 white p-lst d-none cont-plst animated"  alb-sng="Le single" style="right:0px">
                
              </div>
            </div>
            <div class="position-relative tp-lst">
                <div class="cl-n2 w-100 cur-def pl-3" title="Nabilla-Mon précieux">
                    <div class="position-absolute" style="top:5px;left: 10px">5.</div>
                    Nabilla<div class="font-weight-bold text-truncate">Mon précieux</div>
                </div>
                <div class="position-absolute h-100 tp-act d-none " style="right: 0px; bottom: 0px">
                  <span class="btn-play-tp-5 cur-pointer bnt-plyay-mus trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Play">
                    <i class="fas fa-play fs-12"></i>
                  </span><span class="btn-addlst-tp-5 cur-pointer btn-plst2 trs-02 toile-bl h-100 pl-3 pr-3 d-inline-flex align-items-center tp5-pl" data-toggle="tooltip" data-placement="bottom" title="Ajouter à la playListe">
                      <i class="fas fa-plus fs-12"></i>
                    </span>
                </div>
                <div class="position-absolute p-2 z-depth-1 white p-lst d-none cont-plst animated"  alb-sng="Le single" style="right:0px">
                  
                </div>
            </div>
        </div>